@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Super Awesome Site";
}



<h1>I am Levi</h1>
<img src="img/nieces.jpeg" width="600px" />
<p>
    I hope to be able to understand better the principles of programming. <br />
    Each class adds to a foundation of principles that I can carry into <br />
    learning a new language. I ultimately want to be able to build an <br />
    app that is used on a phone. Each programming language gets me closer <br />
    to understanding underlying principles.
</p>

<h2>Top Jobs :</h2>
<ol>
    <li>Consulting</li>
    <li>Development</li>
    <li>System Administration</li>
</ol>

<h2>Grade Calculator</h2>


